main {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 40px;
  border-radius: 20px;
}

.imagens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;

  max-width: 1000px;
  height: calc(100vh - 250px);
  margin: auto;
}

.imagens img {
  cursor: pointer;
}

h1 {
  text-align: center;
}

main.dark {
  background-color: rgba(255, 255, 255, 0.2);
}
